#female-2 .container-pic {
	margin: 0 auto 0 auto;
	width: 660px;
	height: 400px;
	position: relative;
}
#female-2 #picture {
	width: 660px;
	height: 400px;
	position: relative;
	overflow: hidden;
	border: 10px #c0a68a solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
#female-2 nav {
	position: relative;
	width: 680px;
}
#female-2 .button {
	font-family: 'LayijiMaHaNiYomV15Regular';
	font-size: 24px;
	text-decoration: none;
	color: #fff;
	background-color: #C7B097;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 5px 0px 0px #ac9173, 0px 5px 5px #000;
}
#female-2 .button:active {
	top: 8px;
	box-shadow: 0px 2px 0px 0px #ac9173, 0px 2px 5px #000;
}
#female-2 .button span {
	background-color: #ac9173;
	background-image: url('../images/left_arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 25%;
	margin-top: -9px;
	border-radius: 50%;
	box-shadow: 0px 1px 0px #827066;
}
#female-2 .left {
	left: 0px;
}
#female-2 .right {
	right: 0px;
}
#female-2 .right span {
	background-image: url('../images/right_arrow.png');
}
#female-2 .button:active span {
	top: 50%;
	margin-top: -12px;
	box-shadow: 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}
#female-2 .button:hover {
	cursor: pointer;
	background-color: #BDA284;
}
#female-2 .container-art {
	display: table;
	margin-top: 80px;
}
#female-2 article {
	height: 100%;
	display: table-row;
}
#female-2 section {
	width: 33%;
	margin-left: 5px;
	display: table-cell;
	background-color: #e07b83;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px#000;
	box-shadow: 0 0 5px #000;
	font-family: 'LayijiMaHaNiYomV15Regular';
	font-size: 28px;
	color: #000;
}
#female-2 section h3 {
	font-size: 36px;
	color: #fff;
}
/* //////////////////////////////////////////// */
#female-2 #bg {
	background: url('../images/female-2/bg.png');
	width: 6000px;
	height: 400px;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
}
#female-2 #char {
	position: absolute;
	left: 164px;
	bottom: -10px;
}
#female-2 .char-1 {
	background: url('../images/female-2/char-1.png');
	width: 71px;
	height: 167px;
}
#female-2 .char-2 {
	background: url('../images/female-2/char-2.png');
	width: 86px;
	height: 237px;
}
#female-2 .char-3 {
	background: url('../images/female-2/char-3.png');
	width: 88px;
	height: 265px;
}
#female-2 .char-4 {
	background: url('../images/female-2/char-4.png');
	width: 156px;
	height: 301px;
}
#female-2 #tree {
	background: url('../images/tree.png');
	width: 6000px;
	height: 400px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: 1000;
}
@media screen and (max-width:1020px){
#female-2 .container-art {
	display: block;
}
#female-2 article {
	display: block;
	text-align: center;
}
#female-2 section {
	width: 90%;
	margin: auto;
	display: block;
	text-align: left;
}
}
@media screen and (max-width:700px){
#female-2 .container-art {
	margin-top: 15px;
}
#female-2 .container-pic {
	margin: 0 auto 0 auto;
	width: 400px;
	height: 340px;
	position: relative;
	background-image: url('../images/female-2/f-bg-s.png');
	border-radius: 10px;
}
#female-2 nav {
	display: none;
}
#female-2 #picture {
	display: none;
}
}
@media screen and (max-width:410px){
#female-2 .container-pic {
	width: 240px;
	height: 204px;
	background-size: 100%;
}
#female-2 section {
	font-size: 21px;
}
#female-2 section h3 {
	font-size: 30px;
}
}
@media screen and (max-width:290px){
#female-2 section {
	font-size: 21px;
	width: 80%;
}
#female-2 .container-pic {
	width: 192px;
	height: 163px;
	background-size: 100%;
}
}

/* marker */
#female-2 #markers {
	position: absolute;
	left: 45%;
	top: 20px;
}
#female-2 .marker {
	background: url('../images/marker.png');
	width: 10px;
	height: 10px;
	overflow: hidden;
	text-indent: -9000px;
	display: inline-block;
	cursor: pointer;
	margin:2px;
}
#female-2 .marker:hover {
	background-position: 0 -10px;
}
#female-2 .mark {
	background-position: 0 -10px;
}