#male-1 .container {
	height: 100%;
	position: relative;
	text-align: center;
}
#male-1 .picture {
	background: url('../images/bg-m.jpg');
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	float: left;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	display: block;
}
#male-1 article {
	width: auto;
	margin-left: 497px;
	text-align: left;
}
#male-1 .detail {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px#000;
	box-shadow: 0 0 5px #000;
	max-width: 900px;
}
#male-1 .detail a {
	font-family: 'LayijiMaHaNiYomV15Regular';
	font-size: 36px;
	text-decoration: none;
	padding: 10px 30px;
	display: block;
	cursor: pointer;
	color: #fff;
	background: #338a8f;
}
#male-1 .detail:hover a {
	background: #2B7478;
}
#male-1 .detail div {
	font-family: 'LayijiMaHaNiYomV15Regular';
	font-size: 28px;
	padding: 15px;
	background-color: #75c3c3;
}
/* //////////////////////////////////////////// */
#male-1 .picture {
	width: 447px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
#male-1 .pic {
	cursor: pointer;
	opacity: 0.6;
}
#male-1 #bg {
	background: url('../images/male-1/bg.png');
	width: 447px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#male-1 #penis {
	background: url('../images/male-1/1.png');
	width: 228px;
	height: 198px;
	position: absolute;
	left: 4px;
	top: 146px;
	z-index: 100;
}
#male-1 #scrotum {
	background: url('../images/male-1/2.png');
	width: 139px;
	height: 161px;
	position: absolute;
	left: 60px;
	top: 216px;
	z-index: 110;
}
#male-1 #testis {
	background: url('../images/male-1/3.png');
	width: 72px;
	height: 92px;
	position: absolute;
	left: 70px;
	top: 268px;
	z-index: 130;
}
#male-1 #epididymis {
	background: url('../images/male-1/4.png');
	width: 67px;
	height: 106px;
	position: absolute;
	left: 83px;
	top: 248px;
	z-index: 120;
}
#male-1 #seminal_vesicle {
	background: url('../images/male-1/5.png');
	width: 62px;
	height: 72px;
	position: absolute;
	left: 232px;
	top: 88px;
	z-index: 200;
}
#male-1 #prostate_gland {
	background: url('../images/male-1/6.png');
	width: 80px;
	height: 64px;
	position: absolute;
	left: 176px;
	top: 136px;
	z-index: 200;
}
#male-1 #cowpers_gland {
	background: url('../images/male-1/7.png');
	width: 74px;
	height: 46px;
	position: absolute;
	left: 193px;
	top: 176px;
	z-index: 200;
}
#male-1 .hover {
	opacity: 1.0;
}
#male-1 .clicked {
	opacity: 1;
}
@media screen and (max-width: 1060px){
#male-1 .detail a {
	font-size: 30px;
}
}
@media screen and (max-width: 930px){
#male-1 article {
	width: 90%;
	display: inline-block;
	position: relative;
	margin: 10px auto 0px auto;
	float: none;
}
#male-1 .picture {
	width: 447px;
	height: 400px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 0 auto 0px auto;
	float: none;
}
#male-1 .detail div {
	font-size: 23px;
}
}
@media screen and (max-width: 530px){
#male-1 .picture {
	padding: 0;
	width: 268px;
	height: 240px;
	background-image: url('../images/male-1/bg-s.png');
	background-color: #338a8f;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}
#male-1 #bg,#male-1 #penis,#male-1 #scrotum,#male-1 #testis,#male-1 #epididymis,#male-1 #seminal_vesicle,#male-1 #prostate_gland,#male-1 #cowpers_gland {
	display: none;
}
#male-1 .detail a {
	font-size: 23px;
}
}
@media screen and (max-width: 280px){
#male-1 .picture {
	width: 200px;
	height: 172px;
	background-image: url('../images/male-1/bg-s.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}
#male-1 .detail a {
	font-size: 18px;
}
#male-1 .detail div {
	font-size: 16px;
}
}
